@model IEnumerable<Fut360.Models.AgendamentoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Meus Agendamentos</h1>

<p>
    <a asp-controller="Local" asp-action="Index">Ir para Locais</a>
</p>
</br></br><hr/>

<table class="table" id="table-locais">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.localModel.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.localModel.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraFinal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

