@model Fut360.Models.LocalModel

@{
    ViewData["Title"] = "Cadastro de Local";
}

<div class="text-center">
    <br />
    <h3 class="font-weight-bolder text-white mb-0" style="text-align: left;">Cadastrar Local</h3>

</div>


        
    <div class="card z-index-2 h-100">

            <form asp-controller="Local" asp-action="Create" method="post" enctype="multipart/form-data" style="padding: 30px;">

            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome">
                @Html.ValidationMessageFor(x => x.Nome)
            </div>
            <div class="form-group">
                <label for="email">Endereço</label>
                <input type="text" asp-for="Endereco" class="form-control" placeholder="Digite o Endereço Completo">
                @Html.ValidationMessageFor(x => x.Endereco)
            </div>
            <div class="form-group">
                <label for="contato">Horario</label>
                <input type="text" asp-for="Horario" class="form-control"
                       placeholder="Qual os horários disponíveis? EX: das 07h00 as 23h00">
                @Html.ValidationMessageFor(x => x.Horario)
            </div>
            <div class="form-group">
                <label for="contato">Forma de Pagamento</label>
                <input type="text" asp-for="Pagamento" class="form-control" placeholder="Insira a forma de pagamento: ">
                @Html.ValidationMessageFor(x => x.Pagamento)
            </div>
            <div class="form-group">
                <label for="imagem">Forma de Pagamento</label>
                <input type="file" asp-for="ImagemLocal" class="form-control" placeholder="Insira uma imagem: ">
                @Html.ValidationMessageFor(x => x.ImagemLocal)
            </div>

            </br>

            <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
            <a class="btn btn-secondary btn-block" asp-controller="Local" asp-action="Index" role="button">Voltar</a>
        </form>


    </div>
</div>




