@using Microsoft.AspNetCore.Identity;
@model Fut360.Models.LocalModel

@{
    ViewData["Title"] = "Cadastro de Local";
    List<IdentityUser> usuarios = ViewData["usuarios"] as List<IdentityUser>;
}

<div class="text-center py-4">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <button type="button" class="btn btn-block btn-default mb-3" data-bs-toggle="modal" data-bs-target="#modal-form">Form</button>
                    
                    <form asp-controller="Local" asp-action="Create" method="post" enctype="multipart/form-data"
                        style="padding: 30px;">
                        <div class="card-header pb-0">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 text-uppercase">CADASTRO DE LOCAL</p>
                                <button type="submit" class="btn btn-primary btn-sm ms-auto">Salvar</button>
                            </div>
                        </div>
                        <div class="card-body px- pt-0 pb-2">
                            <p class="text-sm">Informações:</p>
                            <div class="row">
                                <div class="col-md-6 mb-0">
                                    <div class="">
                                        <label for="Nome" class="form-control-label">Nome</label>
                                        <input class="form-control" asp-for="Nome" placeholder="Digite o nome"
                                            type="text">
                                        @Html.ValidationMessageFor(x => x.Nome)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <label for="Endereco" class="form-control-label">Endereço</label>
                                        <input class="form-control" asp-for="Endereco"
                                            placeholder="Digite o Endereço completo" type="text">
                                        @Html.ValidationMessageFor(x => x.Endereco)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <label for="Maplink" class="form-control-label">Google Maps Link</label>
                                        <input class="form-control" asp-for="Maplink"
                                            placeholder="Cole o link direto para o Google maps" type="url">
                                        @Html.ValidationMessageFor(x => x.Maplink)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <label for="Contato" class="form-control-label">Contato</label>
                                        <input class="form-control" asp-for="Contato"
                                            placeholder="Digite um telefone para contato" type="text">
                                        @Html.ValidationMessageFor(x => x.Contato)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <label for="ImagemLocal" class="form-control-label">Foto</label>
                                        <input class="form-control" asp-for="ImagemLocal" type="file"
                                            placeholder="Insira uma imagem: ">
                                        @Html.ValidationMessageFor(x => x.ImagemLocal)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <label for="Aprovador" class="form-control-label">Administrador do Local</label>
                                        <select id="Aprovador" asp-for="Aprovador" class="form-control">
                                            @foreach (var usuario in usuarios)
                                            {
                                                <option value="@usuario.Id">@usuario.NormalizedUserName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
