@model List<LocalModel>

@{
    ViewData["Title"] = "Locais Disponíveis";
}
<style>
    .lista-quadra {
        flex-direction: row;
    }

    .img-quadra img {
        border-radius: 10px;
        margin: 10px;
        height: 100%;
        max-height: 180px;
    }

    .list-conteudo {
        padding: 10px;
    }

    .list-locais {
        list-style-type: none;
        text-align: left;
    }

    .locais {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="">
                <div class="container-fluid py-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-4" style="padding: 20px;">
                                <div class="card-header pb-0">
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 text-uppercase">Locais</p>
                                    </div>
                                </div>
                                </br>
                                <div class="card-body px-0 pt-0 pb-2">
                                    <div class="table-responsive p-0">
                                        <table class="table align-items-center mb-0" id="table-locais">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">LOCAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.Any())
                                                {
                                                    foreach (LocalModel local in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="lista-quadra card">
                                                                    <div class="img-quadra">
                                                                        @if (!string.IsNullOrEmpty(@local.ImagemLocal))
                                                                        {
                                                                            <img src="~/fotos/@local.ImagemLocal" alt="">
                                                                        }
                                                                        else
                                                                        {
                                                                            <p>Imagem não encontrada</p>
                                                                        }
                                                                    </div>
                                                                    <div class="list-conteudo">
                                                                        <h2>@local.Nome</h2>
                                                                        <p><i class="ni ni-square-pin"></i>  @local.Endereco</p>
                                                                        <p><i class="fa fa-phone"></i>  @local.Contato</p>
                                                                        <a role="button" class="badge badge-sm bg-gradient-success" asp-route-id="@local.Id" asp-controller="Agendamento" asp-action="Create">Ver horários</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


