@using Fut360.Enums;
@model Fut360.Models.UsuarioModel

@{
    ViewData["Title"] = "Cadastro de Usuário";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Usuário</h1>
  
</div>

<form asp-controller="Usuario" asp-action="Create" method="post">

    <div class="form-group" >
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do usuário">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite seu email:">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="contato">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login desejado:">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="form-group">
        <label for="contato">Contato/WhatsApp</label>
        <input type="text" asp-for="Contato" class="form-control" placeholder="Digite o seu número de contato:">
        @Html.ValidationMessageFor(x => x.Contato)
    </div>
    <div class="form-group">
        <label for="contato">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Digite sua senha: ">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <div class="form-group">
        <label for="contato">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="0">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padrao">Padrão</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>

</form>